@import-normalize;

body {
  background-color: rgb(177, 244, 242);
  padding: 100px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* cлизизация для второго таска */
.statistics {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  max-width: 450px;
  background-color: rgb(216, 232, 227);
}

.title{
  margin: 0px 0px 50px 0px ;
  text-align: center;
  font-weight: 400;
  font-size: 35px;
  line-height: 1;
}

.stat-list{
  list-style-type: none;
  display: flex;
  padding: 0;
}

.item{
  width: 450px;
  height: 100px;
  padding-top: 15px;
  border: 1px solid rgba(9, 5, 237, 0.861);
  background-color: rgb(136, 90, 174);
}

.label{
  padding: 0;
  margin-bottom: 20px;
  letter-spacing: normal;
  color: aliceblue;
}

.percentage{
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 28px;
  color: aliceblue;
}

.test{
  display: flex;
}

